# ==========================
# Environment Variables
# ==========================
.env
*.env

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# ==========================
# Flask
# ==========================
instance/
.flaskenv

# ==========================
# Logs
# ==========================
*.log

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db

# ==========================
# Build files
# ==========================
dist/
build/

# ==========================
# Python cache
# ==========================
.pytest_cache/
.mypy_cache/

# ==========================
# Node (if you later add one)
# ==========================
node_modules/


classified_sites.json
reports.json

